@* @page *@
@* @model EduCore.Frontend.Web.Areas.Student.Pages.Instructors.DetailsModel *@
@* @{ *@
@*     Layout = "../../Shared/Layouts/Student/_Layout"; *@
@*     var ins = Model.InstructorDetail; *@
@* } *@

@* <div class="container-fluid py-5 mt-5"> *@
@*     <div class="container py-5"> *@
@*         <div class="row g-4 mb-5"> *@
@*             <div class="col-lg-12"> *@
@*                 <div class="row g-4"> *@
@*                     <!-- Instructor Image --> *@
@*                     <div class="col-lg-6"> *@
@*                         <div class="border rounded"> *@
@*                             <img src="@ins.UrlImage" class="img-fluid rounded" alt="Image" /> *@
@*                         </div> *@
@*                     </div> *@

@*                     <!-- Instructor Info --> *@
@*                     <div class="col-lg-6"> *@
@*                         <h4 class="fw-bold mb-3">@ins.FullName</h4> *@
@*                         <p class="mb-3"> *@
@*                             Specialty: *@
@*                             @string.Join(", ", ins.SubCategoryDetails.Select(sc => sc.SubCategoryName)) *@
@*                         </p> *@
@*                         <h5 class="fw-bold mb-3">@ins.Rating rating</h5> *@

@*                         <div class="d-flex mb-4"> *@
@*                             <span class="rating d-flex align-items-center mb-2"> *@
@*                                 @{ *@
@*                                     var floorStars = (int)Math.Floor(ins.Rating); *@
@*                                     var halfStar = ins.Rating % 1 >= 0.5m; *@
@*                                     var totalStars = 5; *@
@*                                 } *@
@*                                 @for (var i = 0; i < floorStars; i++) *@
@*                                 { *@
@*                                     <i class="fas fa-star text-primary"></i> *@
@*                                 } *@
@*                                 @if (halfStar) *@
@*                                 { *@
@*                                     <i class="fas fa-star-half-alt text-primary"></i> *@
@*                                 } *@
@*                                 @for (var i = 0; i < totalStars - (floorStars + (halfStar ? 1 : 0)); i++) *@
@*                                 { *@
@*                                     <i class="far fa-star text-primary"></i> *@
@*                                 } *@
@*                             </span> *@
@*                         </div> *@

@*                         <p class="mb-4">@ins.Bio</p> *@

@*                         <div class="mt-3 mb-1"> *@
@*                             <span class="badge bg-success">@ins.NumberStudent students</span> *@
@*                             <span class="badge bg-success">@ins.NumberCourse courses</span> *@
@*                         </div> *@
@*                     </div> *@

@*                     <!-- Tabs --> *@
@*                     <div class="col-lg-12 p-0 mt-4"> *@
@*                         <nav> *@
@*                             <div class="nav nav-tabs mb-3" id="instructorTabs" role="tablist"> *@
@*                                 <button class="nav-link active" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses" *@
@*                                         type="button" role="tab" aria-controls="courses" aria-selected="true"> *@
@*                                     Courses *@
@*                                 </button> *@
@*                                 <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" *@
@*                                         type="button" role="tab" aria-controls="reviews" aria-selected="false"> *@
@*                                     Reviews *@
@*                                 </button> *@
@*                             </div> *@
@*                         </nav> *@
@*                         <div class="tab-content mb-5" id="instructorTabsContent"> *@
@*                             <!-- Courses Tab --> *@
@*                             <div class="tab-pane fade show active" id="courses" role="tabpanel" aria-labelledby="courses-tab"> *@
@*                                 <div class="owl-carousel vegetable-carousel justify-content-center row container"> *@
@*                                     @await Component.InvokeAsync("CourseList", new { courseList = ins.Courses, isCarousel = true }) *@
@*                                 </div> *@
@*                             </div> *@

@*                             <!-- Reviews Tab --> *@
@*                             <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab"> *@
@*                                 @{ *@
@*                                     ViewData["IsSlider"] = false; *@
@*                                     ViewData["IsSameCourse"] = false; *@
@*                                 } *@
@*                                 @await Html.PartialAsync("../../Shared/Partials/Student/_ReviewList.cshtml") *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@

@*                     <!-- Leave a Reply Form --> *@
@*                     <form> *@
@*                         <h4 class="mb-5 fw-bold">Leave a Reply</h4> *@
@*                         <div class="row g-4"> *@
@*                             <div class="col-lg-6"> *@
@*                                 <input type="text" class="form-control" placeholder="Your Name *" /> *@
@*                             </div> *@
@*                             <div class="col-lg-6"> *@
@*                                 <input type="email" class="form-control" placeholder="Your Email *" /> *@
@*                             </div> *@
@*                             <div class="col-lg-12"> *@
@*                                 <textarea class="form-control" rows="8" placeholder="Your Review *" spellcheck="false"></textarea> *@
@*                             </div> *@
@*                             <div class="col-lg-12 d-flex justify-content-between align-items-center py-3"> *@
@*                                 <div class="d-flex align-items-center"> *@
@*                                     <p class="mb-0 me-3">Please rate:</p> *@
@*                                     <div class="d-flex align-items-center" style="font-size: 12px;"> *@
@*                                         @for (int i = 0; i < 5; i++) *@
@*                                         { *@
@*                                             <i class="fa fa-star text-muted"></i> *@
@*                                         } *@
@*                                     </div> *@
@*                                 </div> *@
@*                                 <button type="submit" class="btn btn-outline-primary rounded-pill px-4 py-3">Post Comment</button> *@
@*                             </div> *@
@*                         </div> *@
@*                     </form> *@
@*                 </div> *@
@*             </div> *@

@*             <!-- Related Courses --> *@
@*             <div class="mt-5"> *@
@*                 <h1 class="fw-bold mb-4">Related Courses</h1> *@
@*                 <div class="owl-carousel vegetable-carousel justify-content-center row container"> *@
@*                     @await Component.InvokeAsync("CourseList", new { courseList = Model.RelatedCourses, isCarousel = true }) *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
